<div class="clr"></div>

<div id="footer">
  <div class="w960" style="min-height:200px;">
    <div class="ffa">
      <div class="clr h20"></div>
    </div>
    <div class="ro_logo">
      <a title="Residentie Ontdekkingen" href="/">Residentie Ontdekkingen</a>
    </div>
  </div>
</div>

<script type="text/javascript" src="/assets/js/app.js"></script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22892216-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
