<ul>
  <li class="h-logo">
    <a title="Residentie Ontdekkingen" href="/">Residentie Ontdekkingen</a>
  </li>
  <li>
    <ul>
      <li class="post-content">
        <h2>Mogelijkheden</h2>
        <p>Combinaties van wandelen, varen en fietsen, het bezoeken van musea en bezienswaardigheden, het volgen van actief-creatieve workshops.</p>
        <a class="button" href="/mogelijkheden"><span class="red">&rsaquo;</span> Bekijk de mogelijkheden</a><br/>
        <a class="button" href="/activiteitenformulier"><span class="red">&rsaquo;</span> Activiteitenformulier</a>
      </li>
      <li class="post-content">
        <h2>Contact</h2>
        <p>Voor meer informatie <a href="mailto:inlichtingen@residentieontdekkingen.nl">mail</a> ons of bel 070 345 12 98.</p>
        <a class="button" href="/contactformulier"><span class="red">&rsaquo;</span> Stel een vraag</a>
      </li>
      <li class="post-content">
        <h2>Nieuwsbrief</h2>
        <form action="http://madmimi.com/signups/subscribe/31211/" method="post">
          <input id="signup_email" name="signup[email]" type="text" onblur="this.value=(this.value=='') ? 'uw e-mailadres' : this.value;" onfocus="this.value=(this.value=='uw e-mailadres') ? '' : this.value;" maxlength="150" value="uw e-mailadres" class="form-control" />
          <input name="commit" class="btn  btn--reset" type="submit" value="› Aanmelden" />
        </form>
      </li>
    </ul>
  </li>
</ul>
