---
layout: default
---

<div id="wrapper">
  <div class="w960">
    <div id="sidebar">
      {% include sidebar.html %}
      <div class="clr h20"></div>
    </div>

    <div id="content">

      <div id="snl">
        {% include subnav.html %}
      </div>

      <div class="clr"></div>

      <div id="nvl">
        {% include nav.html %}
      </div>

      <div id="content_inner">

        <div class="ro_cal">
          <h2 class="din">Activiteiten</h2>
          <ul class="ro_cal_entries">
            {% assign agenda = (site.pages | where: "show_in_list" , "activiteiten") %}
            {% for page in agenda limit:5 %}
              <li>
                <a class="post-link" href="{{ page.permalink | prepend: site.baseurl }}"><span class="red">&rsaquo;</span> {{ page.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>

        <div class="ro_slider">
          <img src="/assets/images/ro/058fbddd2efddd4ba80757c819e24949.jpg" alt="Residentie Ontdekkingen" />
        </div>

        <div class="clr h20"></div>

        <div class="ro_wel post-content">
          {{ content }}
        </div>

        <!--
        <div data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'>
          <div><h3>1</h3></div>
          <div><h3>2</h3></div>
          <div><h3>3</h3></div>
          <div><h3>4</h3></div>
          <div><h3>5</h3></div>
          <div><h3>6</h3></div>
        </div>
        -->

      </div>
    </div>

    <div class="clr"></div>
  </div>
</div>
